<!DOCTYPE html>
<html lang="en" th:replace="~{layouts/layout :: layout(~{::body})}" xmlns:th="http://www.thymeleaf.org">
  <head>
      <meta charset="UTF-8">
      <title>Home Page</title>
  </head>
  <body>
    <div class="container">
        <h1>Вас приветсвует программа для практикума Simbirsoft.</h1>

        <form action="#" th:action="@{/}" method="post">
            <div class="row mb-3">
                <div class="col-6">
                    <label for="url" class="form-label">Введите адрес:</label>
                </div>
                <div class="col-6">
                    <label for="url" class="form-label"></label>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-9 mb-3">
                    <input class="form-control" id="url" th:name="url" type="text" placeholder="URL:">
                </div>
                <div class="col-3 mb-3">
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </div>
            </div>
        </form>

        <label for="exampleDataList" class="form-label">Найденные слова:</label>
        <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Начните вводить...">
        <datalist id="datalistOptions">
            <option th:each="word: ${words}" th:value="${word}">
        </datalist>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Слово</th>
                    <th scope="col">Кол-во</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="word, state: ${wordsMap}">
                    <th scope="row" th:text="${state.index}"></th>
                    <td th:text="${word.getKey()}"></td>
                    <td th:text="${word.getValue()}"></td>
                </tr>
            </tbody>
        </table>

        <div class="mb-3">
            <label for="resultArea" class="form-label">Результат запроса:</label>
            <textarea class="form-control" id="resultArea"><div th:text="${result}"></div></textarea>
        </div>
    </div>
  </body>
</html>
